body{
    text-align: center;
}

h1, p {
    color: rgb(60, 32, 14);
    font-family: fantasy;
    font-size: 2rem;
}

section{
    margin-left: 40%;
}

.row div {
    padding: 10px;
    border: 2px solid black;
    height: 70px;
    width:  70px;
    float: left;
    font-size: 3.5rem;
    border-color: darkgreen;
}

.row {
    clear: both;
}

/* Mobile*/
@media screen and (max-width: 520px){
    section {
        margin-left: 2rem;
        width: fit-content;
    }
    h1, p {
        color: rgb(243, 127, 44);
        font-size: 1rem;
    }
    
}


